* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 2rem;
}

.header {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}

.head_img {
  height: 100vh;
  width: 100vw;
}

.header_nav {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100%;
  background-color: ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.nav_scrolled {
  background: black;
}

a.contact_link {
  color: black;
  background-color: #25cc7e;
  padding: .25rem .5rem;
  border-radius: 20px;
}

a.contact_link:hover {
  color: #25cc7e;
  background-color: white;
  border: 2px solid white;
}

.section {
  height: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.info {
  position: absolute;
  top: 15%;
  left: 45%;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.vertical-line {
    display: inline-block;
    border-left: 2px solid #ccc;
    margin: 0 10px;
    height: 1.5rem;
}

.about {
  background: #070f06;
  color: white;
  display: grid;
  height: 50rem;
  grid-template-columns: 1.5rem auto auto auto 1.5rem;
}

.education {
  background: #9cd9a3;
  position: relative;
}

.projects {
  background: #6e756d;
}

.contact {
  background: black;
  color: white;
  height: 30rem;
  display: grid;
  grid-template-columns: 1.5rem auto auto 1.5rem;
}

.grad_img {
  min-width: 16rem;
  max-width: 16rem;
  min-height: 20rem;
  max-height: 20rem;
  border-radius: 150px;
}

.education_row {
  width: 100%;
}

.school_pic {
  height: 26rem;
  opacity: .1;
  position: absolute;
  left: 5rem;
  bottom: 0;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #25cc7e;
}

.educator_name {
  margin-bottom: 2rem;
}

.Texas_State {
  margin-bottom: 2rem;
}

.work_experience {
  background-color: white;
  color: black;
  height: 35rem;
  display: grid;
  grid-template-columns: 1.5rem auto auto auto auto auto;
  align-content: center;
  position: relative;
}

.work_heading {
  grid-column: 1 / 3;
  padding-left: 7rem;
}

.work_skills_heading {
  grid-column: 4 / 7;
  padding-left: 12rem;
}

.Hotel_Ella {
  grid-column: 1 / 3;
}

.Hotel_Ella_skills {
  grid-column: 4 / 7;
}

.critical_thinking, .leadership, .communication, .conflict_resolution,
.multitasking, .teamwork, .time_management, .independence, .adaptability {
  position: absolute;
  min-width: 8rem;
  max-width: 8rem;
  min-height: 6rem;
  max-height: 6rem;
}

.critical_thinking {
  opacity: .2;
  right: 24rem;
  top: 6rem;
}

.leadership {
  opacity: .3;
  right: 15em;
  top: 6rem;
}

.communication {
  opacity: .3;
  right: 5rem;
  top: 6rem;
}

.conflict_resolution {
  opacity: .2;
  right: 24rem;
  top: 17rem;
}

.multitasking {
  opacity: .3;
  right: 15em;
  top: 17rem;
}

.teamwork {
  opacity: .3;
  right: 5rem;
  top: 17rem;
}

.time_management {
  opacity: .2;
  right: 24rem;
  top: 27rem;
}

.independence {
  opacity: .3;
  right: 15em;
  top: 27rem;
}

.adaptability {
  opacity: .3;
  right: 5rem;
  top: 27rem;
}

.linkedin, .github, .facebook {
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
}

.Towne_Park {
  grid-column: 1 / 3;
}

.Towne_Park_skills {
  grid-column: 4 / 7;
}

.Flextronics {
  grid-column: 1 / 3;
}

.Flextronics_skills {
  grid-column: 4 / 7;
}

hr.solid {
  border-top: 3px solid #000;
}

.contact_form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 20rem;
  border-radius: 15px;
  padding: 1rem;
  border: 3px solid #22bf75;
  grid-column: 1 / 2;
}

.contact_form h3, .contact_form h6 {
  font-weight: 525;
  margin: 1rem;
  padding: 2px;
  text-align: center;
  color: #22bf75;
}

.contact_form input, .contact_form textarea {
  margin: .5rem;
  background: #f5f5f5;
  border: 1px solid;
}

.contact_form button {
  background-color: #25cc7e;
  padding: .5rem;
  margin: 0rem .5rem;
  border-radius: 15px;
  outline: 1px solid;
  cursor: pointer;
}

.socials {
  grid-column: 3 / 5;
  margin-left: 20rem;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.python {
  width: 75%; background-color: #25cc7e;
}

.c_plus_plus {
  width: 70%; background-color: #2196F3;
}

.java {
  width: 60%; background-color: #f44336;
}

.html {
  width: 85%; background-color: #25cc7e;
}

.css {
  width: 75%; background-color: #2196F3;
}

.js {
  width: 65%; background-color: #f44336;
}

.Branden_img {
  /*position: absolute;
  top: 52rem;
  left: 28rem;*/
  border-radius: 25px;
  min-width: 12rem;
  max-width: 12rem;
  min-height: 16rem;
  max-height: 16rem;
}

.skill_chart {
  padding: 0rem 2rem;
  grid-column: 4 / 6;
}

.about_me {
  padding-top: 2rem;
  grid-column: 1 / 3;
}
